html
{
  overflow: hidden;
  font-size: 10px;
}

*{box-sizing: border-box;}

body
{
  background-color: black;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
}

#start-page
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

#player, #planets
{
  height: 6vh;
  width: 20%;
  margin-bottom: 3vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

#logo
{
  width: 50%;
  height: auto;
  margin: 10vh 0;
}

#start
{
  width: 20%;
  height: 6vh;
  margin-top: 2vh;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

#container
{
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

#board
{
  margin: auto 0 auto;
  border: 1vh solid rgba(220, 220, 220, 0.3)
}

#aside
{
  display: flex;
  min-width: 30%;;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.3);
}

#aside>div
{
  font-size: 4vh;
}

#planetbox
{
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5vh;
}

#from, #to
{
  margin-bottom: 1vh;
}

#turn
{
  text-align: center;
}

#attackbox
{
  display: flex;
  justify-content: space-around;
}

#shipsnumber
{
  width: 15%;
  text-align: center;
  font-size: 4vh;
  font-family: monospace;
}

#attackbox>input
{
  width: 35%;
  background-color: rgba(220, 220, 220, 0.15);
  border: none;
  text-align: center;
  font-size: 3vh;
  font-family: monospace;
}

#attackbox>button
{
  width: 35%;
  background-color: rgba(220, 220, 220, 0.15);
  border: none;
  text-align: center;
  font-size: 3vh;
  font-family: monospace;
}

#nextturn
{
  width: 70%;
  text-align: center;
  font-size: 4vh;
  display: flex;
  justify-content: center;
  align-self: center;
  border: none;
  background-color: rgba(220, 220, 220, 0.15);
  font-family: monospace;
}

#gameover
{
  margin: 20% auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  font-family: monospace;
}

#gameover>h2
{
  font-size: 10vh;
  margin-bottom: 3vh;
}

#gameover>p
{
  font-size: 3vh;
  margin-bottom: 1.5vh;
}

#displayplayer
{
  display: flex;
  justify-content: space-around;
}

.pbox
{
  flex-direction: row;
  height: 3vh;
  width: 3vh;
  border: 1px solid;
  border-color: rgba(220, 220, 220, 0.3); 
  margin-bottom: 1vh;
  font-size: 3vh;
  text-align: center;
  color: black;
}
